
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Merhaba bu bir deneme sayfasıdır.
    <div style=" background-color:steelblue"> burası div 
    </div>
</body>
</html>
